In [1]:
import numpy as np
import pandas as pd
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
#Data collection and preprocessing
df = pd.read_csv('movies.csv')

In [3]:
df

                      title     rating  year  runtime
0             Almost Famous          R  2000      122
1              American Pie          R  1999       95
2        Back to the Future         PG  1985      116
3              Blade Runner          R  1982      117
4         Blood for Dracula          R  1974      106
5               Blue Velvet          R  1986      120
6        The Breakfast Club          R  1985       97
7                  Clueless      PG-13  1995       97
8            Cool Hand Luke         GP  1967      127
9                 The Craft          R  1996      101
10           Doctor Zhivago      PG-13  1965      197
11                  el Topo  Not Rated  1970      125
12                Evil Dead      NC-17  1981       85
13             Ghostbusters         PG  1984      105
14                   Grease      PG-13  1978      110
15                 Heathers          R  1988      103
16                Labyrinth         PG  1986      101
17            The Lost Boys          R  1987       97
18               Mean Girls      PG-13  2004       97
19       Millennium Actress         PG  2001       87
20       My Neighbor Totoro          G  1988       86
21        Napoleon Dynamite         PG  2004       96
22  Pee-wee's Big Adventure         PG  1985       91
23           Pretty in Pink      PG-13  1986       97
24       The Princess Bride         PG  1987       98
25                   Psycho          R  1960      109
26              Stand by Me          R  1986       89
27                  Super 8      PG-13  2011      112
28                 superbad          R  2007      113
29                 WarGames         PG  1983      114

In [4]:
df.head()

                title rating  year  runtime
0       Almost Famous      R  2000      122
1        American Pie      R  1999       95
2  Back to the Future     PG  1985      116
3        Blade Runner      R  1982      117
4   Blood for Dracula      R  1974      106

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    30 non-null     object
 1   rating   30 non-null     object
 2   year     30 non-null     int64
 3   runtime  30 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.1+ KB

In [6]:
df.isnull().sum()

title      0
rating     0
year       0
runtime    0
dtype: int64

In [7]:
df.describe()

              year     runtime
count    30.000000   30.000000
mean   1987.000000  107.000000
std      12.406895   20.649789
min    1960.000000   85.000000
25%    1982.250000   97.000000
50%    1986.000000  102.000000
75%    1995.750000  113.750000
max    2011.000000  197.000000

In [8]:
df.shape

(30, 4)

In [9]:
#Data collection and preprocessing
df = pd.read_csv('movies.csv')

['title', 'rating']

In [10]:
#replacing the null_value with string
for feature in selected_features:
    df[feature] = df[feature].fillna('')

In [11]:
combined_feature = df['title'] + df['rating']

In [12]:
print(combined_feature)

0                Almost FamousR
1                 American PieR
2          Back to the FuturePG
3                 Blade RunnerR
4            Blood for DraculaR
5                  Blue VelvetR
6           The Breakfast ClubR
7                 CluelessPG-13
8              Cool Hand LukeGP
9                    The CraftR
10          Doctor ZhivagoPG-13
11             el TopoNot Rated
12               Evil DeadNC-17
13               GhostbustersPG
14                  GreasePG-13
15                    HeathersR
16                  LabyrinthPG
17               The Lost BoysR
18              Mean GirlsPG-13
19         Millennium ActressPG
20          My Neighbor TotoroG
21          Napoleon DynamitePG
22    Pee-wee's Big AdventurePG
23          Pretty in PinkPG-13
24         The Princess BridePG
25                      PsychoR
26                 Stand by MeR
27                 Super 8PG-13
28                    superbadR
29                   WarGamesPG
dtype: object

In [13]:
# converting the text data to future vector
vectorizer =TfidfVectorizer()

In [14]:
future_vectors = vectorizer.fit_transform(combined_feature)

In [15]:
print(future_vectors)

  (0, 26)	0.7071067811865475
  (0, 5)	0.7071067811865475
  (1, 45)	0.7071067811865475
  (1, 6)	0.7071067811865475
  (2, 28)	0.5346074901415979
  (2, 55)	0.3776036208161989
  (2, 56)	0.5346074901415979
  (2, 7)	0.5346074901415979
  (3, 51)	0.7071067811865475
  (3, 9)	0.7071067811865475
  (4, 22)	0.5773502691896257
  (4, 27)	0.5773502691896257
  (4, 10)	0.5773502691896257
  (5, 59)	0.7071067811865475
  (5, 11)	0.7071067811865475
  (6, 16)	0.6325963586346616
  (6, 13)	0.6325963586346616
  (6, 55)	0.44681505579415437
  (7, 0)	0.5538036073190501
  (7, 17)	0.8326473230128152
  (8, 37)	0.5773502691896257
  (8, 32)	0.5773502691896257
  (8, 18)	0.5773502691896257
  (9, 19)	0.8167996590198933
  (9, 55)	0.5769214132141274
  :	:
  (20, 58)	0.5773502691896257
  (20, 43)	0.5773502691896257
  (20, 41)	0.5773502691896257
  (21, 23)	0.7071067811865475
  (21, 42)	0.7071067811865475
  (22, 4)	0.5
  (22, 8)	0.5
  (22, 61)	0.5
  (22, 44)	0.5
  (23, 46)	0.5389779364053504
  (23, 34)	0.5389779364053504
  (23, 47)	0.5389779364053504
  (23, 0)	0.35848061621891103
  (24, 14)	0.6325963586346616
  (24, 48)	0.6325963586346616
  (24, 55)	0.44681505579415437
  (25, 49)	1.0
  (26, 39)	0.5773502691896257
  (26, 15)	0.5773502691896257
  (26, 52)	0.5773502691896257
  (27, 2)	0.639873221266608
  (27, 53)	0.639873221266608
  (27, 0)	0.4255872665056947
  (28, 54)	1.0
  (29, 60)	1.0

In [16]:
# cosine similarity score using cosine similarity
 
similarity = cosine_similarity(future_vectors)

In [17]:
print(similarity)

[[1.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]
 [0.         1.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]
 [0.         0.         1.         0.         0.         0.
  0.16871898 0.         0.         0.21784761 0.         0.
  0.         0.         0.         0.         0.         0.16871898
  0.         0.         0.         0.         0.         0.
  0.16871898 0.         0.         0.         0.         0.        ]
 [0.         0.         0.         1.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         1.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         1.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.16871898 0.         0.         0.
  1.         0.         0.         0.25777717 0.         0.
  0.         0.         0.         0.         0.         0.19964369
  0.         0.         0.         0.         0.         0.
  0.19964369 0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         1.         0.         0.         0.23569176 0.
  0.         0.         0.30669844 0.         0.         0.
  0.23569176 0.         0.         0.         0.         0.19852786
  0.         0.         0.         0.23569176 0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         1.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.21784761 0.         0.         0.
  0.25777717 0.         0.         1.         0.         0.
  0.         0.         0.         0.         0.         0.25777717
  0.         0.         0.         0.         0.         0.
  0.25777717 0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.23569176 0.         0.         1.         0.
  0.         0.         0.23569176 0.         0.         0.
  0.18112452 0.         0.         0.         0.         0.15256479
  0.         0.         0.         0.18112452 0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         1.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  1.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         1.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.30669844 0.         0.         0.23569176 0.
  0.         0.         1.         0.         0.         0.
  0.23569176 0.         0.         0.         0.         0.19852786
  0.         0.         0.         0.23569176 0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         1.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         1.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.16871898 0.         0.         0.
  0.19964369 0.         0.         0.25777717 0.         0.
  0.         0.         0.         0.         0.         1.
  0.         0.         0.         0.         0.         0.
  0.19964369 0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.23569176 0.         0.         0.18112452 0.
  0.         0.         0.23569176 0.         0.         0.
  1.         0.         0.         0.         0.         0.15256479
  0.         0.         0.         0.18112452 0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         1.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         1.         0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         1.         0.         0.
  0.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         1.         0.
  0.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.19852786 0.         0.         0.15256479 0.
  0.         0.         0.19852786 0.         0.         0.
  0.15256479 0.         0.         0.         0.         1.
  0.         0.         0.         0.15256479 0.         0.        ]
 [0.         0.         0.16871898 0.         0.         0.
  0.19964369 0.         0.         0.25777717 0.         0.
  0.         0.         0.         0.         0.         0.19964369
  0.         0.         0.         0.         0.         0.
  1.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         1.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         1.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.23569176 0.         0.         0.18112452 0.
  0.         0.         0.23569176 0.         0.         0.
  0.18112452 0.         0.         0.         0.         0.15256479
  0.         0.         0.         1.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         1.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         1.        ]]

In [18]:
similarity.shape

(30, 30)

In [24]:
#getting the movie name from the user

df = input('Enter your favourite movie name:')

Enter your favourite movie name:America pie

In [1]:
#creating a list of title name given the datasets
list_of_all_movies = df['movie'].tolist()
print(list_of_all_title)

NameError: name 'df' is not defined

In [27]:
#finding the close match given by the user
find_close_match = difflib.get_close_matches(df,list_of_all_title)
print(list_of_all_title)

NameError: name 'list_of_all_title' is not defined

In [28]:
close_match = find_close_match[0]
print(close_match)

NameError: name 'find_close_match' is not defined

In [ ]:
#find the index of the movie with the title
index_of_the_movie = df.title == close_match['index'].values[0]

In [ ]:
#getting the similarity movie
similarity_score = list(enumerate(similarity[index_of_the_movie]))
print(similarity_score)

In [ ]:
len(similarity_score)

In [ ]:
#sorting the movie based on their similarity score
sorted_similar_movies = score(similarity_score, key = lambda x:x[], reverse=True)
print(sorted_similar_movies)

In [ ]:
# print the name of similar movie based on the inks
print('movie suggested for you:\n')

for movie in sorted_similar_movies:
    index = movie[0]
    tital_from_index = df